.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

#controls {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    border-radius: 8px;
    padding: 32px;
    width: 486px;
    height: 104px;
    background: #f6f6fe;
}

#controls input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #808080;
    border-radius: 8px;
    min-width: 150px;
    height: 40px;
    padding-left: 72px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.btn-crt {
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.btn-crt:focus,
.btn-crt:hover {
    background: #6c8cff;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-dest {
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background: #ff4e4e;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.btn-dest:focus,
.btn-dest:hover {
    background: #ff7070;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#boxes {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    border-radius: 8px;
    padding: 32px;
    background: #f6f6fe;
}