.login-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.login-form label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.login-form input {
    width: 360px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    outline: transparent;
    resize: none;
}

.login-form input:focus {
    border: 1px solid #000;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-form button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    border: none;
}

.login-form button:focus,
.login-form button:hover {
    background: #6c8cff;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}